.Container {
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
    min-height: var(--min-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Container form {
    position: absolute;
    top: -300%;
}

.Form {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ccc;
    padding: 2rem;
    animation: throw 0.5s ease forwards;
}

@keyframes throw {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

.Form h2 {
    font-family: var(--main-font);
    text-align: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.671);
}

.ExampleContainer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ExampleContainer .Example {
    margin: 0 1rem;
    padding: 1rem;
    font-family: var(--main-font);
    color: #fff;
    background-color: rgba(0, 0, 255, 0.616);
    border-radius: 10px;
}

.Form input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 1.15rem;
    background-color: var(--main-color);
    outline: none;
    font-family: var(--main-font);
    margin: 0.5rem 0;
    color: #fff;
    transition: box-shadow 0.3s;
}

.Form input::-webkit-input-placeholder {
    color: #fff;
}

.Form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 1.15rem;
    background-color: var(--main-color);
    outline: none;
    font-family: var(--main-font);
    margin: 0.5rem 0;
    color: #fff;
    transition: box-shadow 0.3s;
}

.Form textarea::-webkit-input-placeholder {
    color: #fff;
}


.Images {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
}

.Images img {
    width: calc(80% / 5);
    margin: 0 0.5rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.Images img:hover {
    transform: scale(1.2);
}

.ImagesButton {
    margin-bottom: 1rem;
}

.SubmitButton {
    width: 200px;
    border-radius: 10px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.SubmitButton svg {
    color: #fff;
}

.Error {
    width:  100%;
    text-align: center;
    font-family: var(--main-font);
    color: red;
}

@media (max-width: 640px) {
    .Form {
        width: 90%;
    }

    .Images img {
        width: 250px;
        margin: 0.5rem 0;
    }
}

@media (max-width: 380px) {
    .Images img {
        width: 95%;
    }
}