.Main {
    background: url(https://res.cloudinary.com/grami/image/upload/v1543292265/170407220916-04-iconic-mountains-matterhorn-restricted.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center center;
}
