.Container {
    background-color: #fafafa;
    position: relative;
    top: 72px;
    width: 100%;
}

.Main {
    width: 1024px;
    min-height: var(--min-height);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .Main {
        width: 100%;
    }
}