.CheckBoxContainer {
    display: flex;
    width: 100%;
    padding: 1rem 3rem;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.CheckBoxPlaceholder {
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
}

.CustomCheckBox {
    padding: 0.5rem;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
}

.CustomCheckBox svg {
    color: var(--main-color);
    font-size: 1.2rem;
}

.CustomCheckBox span {
    transition: opacity 0.5s;
}

.Active {
    animation: spinForward 0.5s ease 1 forwards;
}

.Unactive {
    animation: spinBack 0.5s ease 1 forwards;
}

.SvgActive {
    opacity: 1;
}

.SvgUnactive {
    opacity: 0;
}

@keyframes spinForward {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes spinBack {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}

.CheckBoxContainer input {
    position: absolute;
    opacity: 0;
    width: 0;
}